# Dependency
node_modules/

# Security (SSL Certificates)
backend/key.pem
backend/cert.pem

# Environment Variables
.env

# Database initialization (jika mengandung data sensitif)
backend/init.sql

# OS Metadata
.DS_Store
Thumbs.db